.add-post {
    background-color: rgba(0, 0, 0, 0.849);
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 10;

    .close-icon {
        filter: invert(96%) sepia(71%) saturate(1758%) hue-rotate(177deg) brightness(112%) contrast(107%);
        position: absolute;
        right: 30px;
        top: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 13px;
        min-width: 700px;
        min-height: 80vh;
        max-height: 631px;



        header {
            padding: 11px 16px;
            border-bottom: 1px solid $main-border ;

            div {
                display: flex;
                align-items: center;
                margin: auto;
                font-size: 16px;
                text-align: center;
                justify-content: space-between;

                button {
                    color: $blue;
                    border: none;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                }
            }
        }

        .content {
            width: 100%;
            height: 100%;

            .img-editor {
                display: flex;

                .img-details {
                    width: 340px;
                    height: 100%;
                    textarea {
                        height: 170px;
                        resize: none;
                        width: 340px;
                        border: 0;
                        outline: none;
                        font-family: inherit;
                        padding: 0 16px;
                        font-size: 16px;
                    }

                }

                .canvas-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    canvas {
                        border-radius: 0 0 13px 13px;
                    }
                }
            }


            main {
                height: calc(80vh - 47px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: rem(28px);

                input {
                    visibility: hidden;
                }

                label {
                    margin-top: 24px;
                    padding: 5px 9px;
                    border-radius: 4px;
                    font-size: rem(22px);
                }

                p {
                    margin-top: 16px;
                }

                svg {
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}