.add-comment {
    padding: 6px 16px;
    border-top: 1px solid $secondery-border;
    display: flex;
    align-items: center;

    textarea {
        max-height: 18px;
        resize: none;
        width: 100%;
        border: 0;
        outline: none;
    }

    .smile-icon {
        padding: 8px 16px 8px 0;
    }

    button {
        color: $blue;
        background-color: #00000000;
        border: 0;
        font-weight: 600;
        &:disabled{
            color:  #0094f674;
            
        }
    }
}