.mobile-actions {
    position: fixed;
    padding: 0 20px;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: $white;
    border-top: 1px solid $main-border;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    display: none;

    @media (max-width:$mobile-breakpoint) {
        display: flex;
    }

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}