.post-preview {
    width: 615px;
    border: 1px solid $main-border;
    background-color: $white;
    margin-bottom: 24px;
    border-radius: 2px;

    header {
        display: flex;
        padding: 14px 16px;
        gap: 14px;
        align-items: center;

        img {
            height: 32px;
            width: 32px;
            border: 1px solid $white;
            border-radius: 50%;
            object-fit: contain;
        }
    }

    footer {
        max-width: 335px;
        padding: 0 16px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .date-to-display{
            font-size: rem(10px);
            font-weight: 400;
            color: $subtxt;
        }
    }
}