.side-bar {
    width: 293px;
    height: 100vh;
    position: fixed;
    right: calc(50% - 293px - 28px);
    transform: translateX(50%);


    header {
        display: flex;
        align-items: center;
        margin: 10px 0;

        img {
            margin-inline-end: 12px;
        }

    }

    .content {
        .title {
            padding: 4px 0;
            color: rgb(142, 142, 142);
            font-weight: 600;
        }

        ul {
            padding: 8px 0;

            li {
                display: flex;
                justify-content: space-between;
                padding: 8px 0;


                &.empty {
                    justify-content: flex-start;
                    gap: 12px;
                }

                button {
                    background-color: rgba(240, 248, 255, 0);
                    color: $blue;
                }

                .img {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: #efefef;
                }

                .line-container {
                    align-self: center;

                    .long-line {
                        width: 116px;
                        height: 14px;
                        background-color: #efefef;
                        border-radius: 4px;
                        margin-bottom: 10px;
                    }

                    .short-line {
                        width: 84px;
                        height: 14px;
                        background-color: #efefef;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}