.story-list {
    padding: 16px 0;
    border-radius: 2px;
    margin-bottom: 24px;
    display: flex;
    background-color: $white;
    border: 1px solid $main-border;


    .story-perview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .is-shown-border {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            position: relative;
            z-index: 1;

            &::before {
                border-radius: 50%;
                content: '';
                position: absolute;
                background-image: $main-gradient;
                top: -2px;
                left: -2px;
                bottom: -2px;
                right: -2px;
            }

            img {
                position: absolute;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                border: 2px solid $white;
            }
        }
    }
}