// Colors
$main-background: #fafafa;
$white: #fff;
$main-border: #dbdbdb;
$secondery-border: #efefef;
$main-txt: #262626;
$subtxt: #8e8e8e;
$main-gradient: linear-gradient(45deg, rgba(255, 200, 0, 1) 0%, rgba(255, 28, 81, 1) 35%, rgba(211, 0, 197, 1) 100%);
$blue: #0095f6;
$success: #29ce7c;
$dark-blue: #00376b;
$blue-disable: #0095f64d;
$blue-facebook: #3e5185;
$spacer: rgb(219, 219, 219);

// Breakpoints
$mobile-breakpoint: 450px;
// $mobile-breakpoint: 600px;
$tablet-breakpoint: 720px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1020px;