.homepage {
    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: stretch;
        justify-content: center;
        max-width: 935px;
        width: 100%;


        .img-container {
            position: relative;
            width: 380px;
            background-image: url('../../img/login-image-container.png');
            background-position: -46px 0;
            background-size: 468.32px 634.15px;
            align-self: center;
            flex-basis: 380.32px;
            height: 581.15px;
            margin-bottom: 12px;
            margin-right: 32px;
            display: none;

            img {
                position: absolute;
                top: 27px;
                left: 113px;
                visibility: visible;
                opacity: 1;
                width: 250px;
                height: 538.84px;
                animation-name: changeBG;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 16s;

                &:nth-of-type(1) {
                    animation-delay: 12s;
                }

                &:nth-of-type(2) {
                    animation-delay: 8s;
                }

                &:nth-of-type(3) {
                    animation-delay: 4s;
                }

                &:nth-of-type(4) {
                    animation-delay: 0s;
                }
            }

            @media (min-width:$normal-breakpoint) {
                display: block;
            }

        }

        .login-container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            margin-top: 12px;
            max-width: 350px;
            flex-grow: 1;

            .container {

                margin: 0 0 10px;
                padding: 10px 0;
                align-items: center;
                width: 100%;

                .logo {
                    font-size: rem(50px);
                    text-align: center;
                    margin: 36px 0 12px;

                }

                .register {
                    display: flex;
                    margin-bottom: 10px;
                    width: 100%;
                    max-width: 350px;
                    align-items: stretch;
                    flex-direction: column;
                    margin-top: 24px;

                    input {
                        padding: 9px 8px 7px 8px;
                        border: 1px solid $main-border;
                        background-color: $main-background;
                        margin: 0 40px 6px;
                        font-size: rem(12px);
                        border-radius: 3px;

                        &:focus {
                            box-shadow: 0 0 0 1px #c0c4cc inset;
                            outline: 0;
                        }
                    }

               

                }


                .log-in-btn {
                    margin: 8px 40px;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 5px 9px;
                    text-align: center;

                    &[disabled] {
                        background-color: $blue-disable;
                    }
                }

                .space {
                    display: flex;
                    font-size: rem(13px);
                    margin: 10px 40px 18px;

                    .line {
                        position: relative;
                        top: 0.5em;
                        height: 1px;
                        background-color: $spacer;
                        flex-grow: 1;
                    }

                    .subtxt {
                        font-weight: 600;
                        line-height: 15px;
                        margin: 0 18px;
                    }
                }

                .facebook-log-in {
                    color: $blue-facebook;
                    font-weight: 600;
                    text-align: center;
                    margin: 8px 40px;

                    .facebook-icon {

                        background-image: url('../../img/icons.png');
                        background-repeat: no-repeat;
                        background-position: -414px -259px;
                        height: 16px;
                        width: 16px;
                        display: inline-block;
                        margin-right: 8px;
                        position: relative;
                        top: 3px;
                    }

                }

                .dark-blue-txt {
                    font-size: rem(12px);
                    line-height: 16px;
                    margin-top: 12px;
                    text-align: center;
                }
                @media (min-width:$mobile-breakpoint) {
                    background-color: $white;
                    border: 1px solid $main-border;
                    border-radius: 1px;
                }

            }

            .sign-up {
                margin: 0 0 15px;
                padding: 15px 0;
                text-align: center;

                .primary-txt {
                    font-weight: 600;
                }
            }

            .get-app {
                text-align: center;

                .download-buttons-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0;

                    img {
                        height: 40px;
                        width: 134px;
                        margin: 0 8px 0 0;
                    }
                }
            }
        }
    }
}


@keyframes changeBG {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}