.main-app {

    .main-content {
        display: flex;
        gap: 28px;
        position: relative;
        padding-top: 30px;
        margin: 0 auto;
        max-width: 935px;
        justify-content: center;
        main{
            width: 470px;
        }
    }
}

@media (min-width:$wide-breakpoint) {
    .main-app {
        .main-content {
            justify-content: unset;

        }
    }
}
@media (min-width:$tablet-breakpoint) {
    .main-app {
        .main-content {
            main{
                width: 615px;
            }

        }
    }
}