.user-profile {
    font-size: 16px;
    padding: 30px 20px 0 20px;

    header {
        border-bottom: 1px $main-border solid;


        img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: 0 solid #000000;
        }

        .title {
            margin-bottom: 20px;
            font-size: rem(28px);

            >span {
                margin-right: 20px;
            }
        }

        .user-details {
            display: flex;
            gap: 30px;
            padding-bottom: 45px;
        }

        .info {
            display: flex;
            gap: 40px;
        }

        .info-dasktop {
            display: none;
        }

        .info-mobile {
            border-top: 1px solid $main-border;
            justify-content: space-around;
            padding: 12px 0;
            text-align: center;
            font-size: rem(14px);
            color: $subtxt;


            span {
                color: $main-txt;
                display: block;
            }
        }

        @media (min-width:$tablet-breakpoint) {
            .info-mobile {
                display: none;
            }

            .info-dasktop {
                display: flex;
            }
        }

    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        padding-top: 50px;

        .img-container {
            width: 100%;
            position: relative;
            overflow: hidden;
            aspect-ratio: 1;

            // padding: 100%;
            img {
                object-fit: cover;
            }
        }
    }

    @media (min-width:$tablet-breakpoint) {
        .grid-container {
            gap: 28px;
        }
    }
}